html {
	height: 100%;
	position: relative;
}

body {
	margin: 0px;
    font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
}

/* Beginning of navigation styling  */

.nav {
	text-align: right;
	height: 90px;
	line-height: 90px;
	background-color: #FF4136;
	font-weight: 500;
	letter-spacing: 0.1em;
	z-index: 2;
	position: relative;
}

.nav i {
    font-size: 140%;
}	
	
.menu {
	margin-right: 3%;
	background-color: #FF4136;
}

.menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	margin: 0 30px;
	line-height: 90px;
	clear: both;
}

#hamburger {
    margin-right: 7%;
	font-size: 170%;
	line-height: 90px;
	display: none;
	width: 26px;
	float: right;
	color: #FFF;
}

#toggle {
    display: none;
}

#app-name {
	font-size: 150%;
	position: absolute;
	left: 10%;
}

#app-name-toggle {
	display: none;
}

@media only screen and (max-width: 1100px) {
	#hamburger {
		display: block;
		cursor: pointer;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a {
		display: block;
		border-bottom: 1px solid #EAEAEB;
		margin: 0;
	}
	
	.menu a:first-child {
	    border-top: 1px solid #EAEAEB;
    }

	#toggle:checked + .menu {
		display: block;
	}
	#app-name {
		display: none;
	}
	#app-name-toggle {
		display: inline-block;
		position: absolute;
		left: 5%;
		top: -20%;
		text-transform: uppercase;
		font-size: 120%;
		color: #FFF;
	}
}

/* End of navigation styling */


#admin-page .order-navigation {
	 max-width: 1100px;
	 margin: 0 auto;
}

#admin-page .order-navigation ul li > a {
	text-decoration: none;
	color: black;
}

#admin-page .order-navigation li {
	list-style: none;
	display: inline-block;
	font-size: 110%;
	margin-left: 5%;
}

#admin-page .order-navigation ul {
	border-bottom: 1px solid #d2d8d8;
	margin-top: 4%;
	padding: 0;
}

#admin-page .order-navigation ul li a {
	color: black;
}

#admin-page .order-navigation ul li a:hover {
	color: #FF4136;
	border-bottom: 2px solid  #FF4136;
}

#admin-page .order-navigation th:first-child, #admin-page .order-navigation td:first-child {
	padding-left: 0;
}

#admin-page table {
	width: 100%;
	border: 1px solid #d2d8d8;
	border-spacing: 0px;
	border-collapse: collapse;
	table-layout: fixed;
}

.order-navigation ul a.manage-food-items {
	border-bottom: 2px solid #FF4136;
}

#admin-page .order-navigation ul li a.selected {
	border-bottom: 2px solid #FF4136;
}

#admin-page .order-navigation ul li a.unselected {
	border-bottom: none;
}

#admin-page td, #admin-page th {
  border: 1px solid #d2d8d8;
  padding: 8px;
	text-align: center;
}

#admin-page table tr:nth-child(even){
	background-color: #f2f2f2;
}

#admin-page table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #FF4136 ;
	color: #FFF;
}

.admin-action a, .admin-action label {
   margin-left: 2%;	
   cursor: pointer;
}

#manage-food-items-section, #new-section, #processing-section, #completed-section, #declined-section {
	max-width: 1100px;
	margin: 0 auto;
}

button.add-food-item {
	padding: 1%;
	border-radius: 5px;
	background-color:#5cb85c;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	margin-bottom: 1%;
	display: block;
	margin: 0 auto 1%;
}

button.add-food-item i {
	font-size: 120%;
}

#manage-food-items-section .image > img {
		height: 100px;
		width: 100px;
		border-radius: 5%;
}

#manage-food-items-section {
	margin-top: 4%;
}

.accept-order {
	color: #5cb85c;
}

.complete-order {
	color: #5cb85c;
}

.reject-order {
	color: #FF4136;
	margin-left: 20%;
}

.reject-order-single {
	color: #FF4136;
}

.admin-action a {
	text-decoration: none;
	color: black;
}

.admin-action i {
	font-size: 180%;
}

.edit-item {
	color: #5cb85c;
}

.delete-item {
	color: #FF4136;
}

.edit-entry, .delete-entry {
	display: inline-block;
}

.edit-entry {
	width: 50%;
}

#manage-food-items-section {
	margin-bottom: 10%;
}

.add-food-item-modal {
	position: fixed;
	background: rgba(52,54,66,0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;	
	overflow-y: auto;
	visibility: hidden;
}

.add-food-item-modal.is-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity .3s, visibility 0s;
}

.add-food-item-modal-container {
	max-width: 600px;
	background-color: #FFF;
	margin: 4em auto 4em;
	cursor: auto;
	position: relative;
	border-radius: 0.25em;	
	width: 80%;
}

.add-food-item-modal-container .input-field {
	width: 90%;
	padding: 0.4em;
	margin: 0 auto;
}

.add-food-item-modal-container .input-container {
	margin: 2em 3em;
}

.add-food-item-modal-container .input-label-container{
	padding-top: 5%;
}

.add-food-item-btn{
	width: 90%;
	background-color: #FF4136;
	border: none;
	outline: none;
	color: #FFF;
	border-radius: 15px;
	padding: 1.8% 0;
	cursor: pointer;
	margin-bottom: 8%;
	text-transform: uppercase;
}

#new-section, #completed-section, #processing-section, #declined-section {
	 margin-top: 4%; 
	 display: none;
	 margin-bottom: 10%;
}

#completed-section.selected, #declined-section.selected, #new-section.selected, #processing-section.selected {
	display: block;
}

#manage-food-items-section.unselected {
	display: none;
}


.adminpage-modal {
	position: fixed;
	background: rgba(52,54,66,0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;	
	overflow-y: auto;
	visibility: hidden;
}

.adminpage-modal.is-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity .3s, visibility 0s;
}

.adminpage-modal-container {
	max-width: 400px;
	background-color: #FFF;
	margin: 4em auto 4em;
	cursor: auto;
	position: relative;
	border-radius: 0.25em;
	width: 80%;
}

.order-heading {
	display: inline-block;
	margin-top: 0;
	margin-left: 37%;
	border-bottom: 2px solid #FF4136;
}

.orders .order-image > img {
	width: 100px;
	height: 100px;
	border-radius: 5%;
}

.orders table {
	width: 100%;
	border-bottom: 1px solid #d2d8d8;
	border-top: 1px solid #d2d8d8;
	text-align: center;
}

.orders table th:first-child, .orders table td:first-child {
    padding-left: 0;
}

.orders table th, .orders table td {
    padding-left: 10%;
}

.orders {
	border-right: 1px solid #d2d8d8;
	border-left: 1px solid #d2d8d8;	
	border-bottom: 1px solid #d2d8d8;
	margin-bottom: 7%;
}

.orders:last-child {
	border-bottom: 1px solid #d2d8d8;
	margin-bottom: 10%;
}

.orders h1 {
    font-size: 90%;
	font-weight: 700;
}

.orders .order .order-details, .orders .order .order-image {
	display: inline-block;
}

.orders .order .order-details {
	position: absolute;
	left: 30%;
}

.orders .order:first-child {
	margin-top: 0%;
}

.orders .order {
	margin-top: 2%;
	margin-left: 2%;
}

.orders .order-name {
    color: #659DBD;	
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FF4136;
	color: #FFF;
	text-align: center;
	padding: 0.8% 0%;
	font-size: 120%;
}

.add-food-item-btn[disabled], .add-food-item-btn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.cd-error-message {
	display: none;
	color: red;
	font-size: 80%;
}

.cd-error-banner-message {
	display: none;
	background-color: lightcoral;
	color: #FFF;
	padding: 1.5%;
	text-align: center;
	width: 70%;
	margin: 1% auto;
}

.cd-error-message.is-visible, .cd-error-banner-message.is-visible {
	display: block
}

.cd-success-message {
	display: none;
	background-color: #5cb85c;
	font-size: 100%;
	color: #FFF;
	padding: 1.5%;
	text-align: center;
	width: 70%;
	margin: 1% auto;
}

.cd-success-message.is-visible {
	display: block
}

.spinner {
	position: fixed;
	left: 50%;
	top: 40%;
	background-color: #FF4136;
	z-index: 1000;
}

.hide {
	display: none;
}

.total-cart-quantity {
	border-radius: 50%;
	background-color: #FFF;
	padding: 0.5%;
	color: black;
	font-weight: 900;
}

@media only screen and (max-width: 390px) {
	#admin-page .order-navigation ul li {
		font-size: 100%;
		margin-left: 2%;
	}
	.order-heading {
		margin-left: 48%;
		font-size: 80%;
	}
}

@media only screen and (max-width: 450px) {
	#admin-page .order-navigation li a  {
		font-size: 80%;
	}
	.order-heading {
		margin-left: 54%;
		font-size: 80%;
	}
}


@media only screen and (max-width: 550px) {
	#admin-page .order-navigation {
		font-size: 90%;
	}

  .orders .order .order-details {
		left: 45%;
		font-size: 95%;
	}
  
  .orders .order {
	margin-top: 5px;
	border: 1px solid #d2d8d8;
  }
}

@media only screen and (max-width: 600px) {
	#admin-page .order-navigation li {
		font-size: 90%;
	}
  #manage-food-items-section .image > img {
		height: 50px;
		width: 50px;
	}
	.admin-action i {
		font-size: 130%;
	}

	.orders .order .order-details {
		left: 45%;
		font-size: 95%;
	}

	#admin-page table td, #admin-page table th {
		font-size: 70%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.nav {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	#admin-page .order-navigation li {
		font-size: 100%;
	}
}

@media only screen and (max-width: 800px) {
  #manage-food-items-section, #new-section, #processing-section, #completed-section, #declined-section {
		margin-bottom: 200px;
	}
}




