html {
	height: 100%;
	position: relative;
}

body {
	margin: 0px;
    font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
}

/* Beginning of navigation styling  */

.nav {
	text-align: right;
	height: 90px;
	line-height: 90px;
	background-color: #FF4136;
	font-weight: 500;
	letter-spacing: 0.1em;
	z-index: 2;
	position: relative;
}

.nav i {
    font-size: 140%;
}	
	
.menu {
	margin-right: 3%;
	background-color: #FF4136;
}

.menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	margin: 0 30px;
	line-height: 90px;
	clear: both;
}

#hamburger {
    margin-right: 7%;
	font-size: 170%;
	line-height: 90px;
	display: none;
	width: 26px;
	float: right;
	color: #FFF;
}

#toggle {
  display: none;
}

#app-name {
	font-size: 150%;
	position: absolute;
	left: 10%;
}

#app-name-toggle {
	display: none;
}

@media only screen and (max-width: 800px) {
	#hamburger {
		display: block;
		cursor: pointer;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a {
		display: block;
		border-bottom: 1px solid #EAEAEB;
		margin: 0;
	}
	
	.menu a:first-child {
	    border-top: 1px solid #EAEAEB;
    }

	#toggle:checked + .menu {
		display: block;
	}
	#app-name {
		display: none;
	}
	#app-name-toggle {
		display: inline-block;
		position: absolute;
		left: 5%;
		top: -20%;
		text-transform: uppercase;
		font-size: 120%;
		color: #FFF;
	}
}

/* End of navigation styling */

#customer-page-cover-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0,0,0,0.65)), url("../images/brownie-cake-chocolate-45202.jpg");
	background-position: center;
	background-size: cover;
	height: 60vh;
}

.add-to-cart  {
	background-color: #659DBD;
	border: none;
	padding: 0.9em 1.2em;
	color: #FFF;
	cursor: pointer;
}

.heading h1 {
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #d2d8d8;
}

#food-list {
	margin-bottom: 10%;
	float: left;
}

.food-item img{
	height: 200px;
	width: 85%;
}

#food-list .food-item {
	display: inline-block;
	border: 1.5px solid #d2d8d8;
	width: 22%;
	text-align: center;
	margin-left: 2.2%;
	padding: 1%;
	margin-top: 1%;
}

#listing-price {
	color: #659DBD;
}

#food-list .food-item h1 {
	font-size: 100%;
}

.footer {
	display: inline-block;
	width: 100%;
	background-color: #FF4136;
	color: #FFF;
	text-align: center;
	padding: 0.8% 0%;
	font-size: 120%;
}

.total-cart-quantity {
	border-radius: 50%;
	background-color: #FFF;
	padding: 0.5%;
	color: black;
	font-weight: 900;
}

@media only screen and (max-width: 800px) {
	#food-list .food-item {
		width: 30%;
    }
}

@media only screen and (max-width: 600px) {
	#food-list {
		margin-left: 2%;
    }
	
	#food-list .food-item {
		width: 45%;
    }
}

@media only screen and (max-width: 422px) {
	#food-list .food-item:first-child {
		width: 80%;
		margin: 2% 0 0 7%;
    }
	
	#food-list .food-item {
		width: 80%;
		margin: 8% 0 0 7%;
    }
	#food-list .food-item:last-child {
		width: 80%;
		margin-bottom: 7%;
    }
}










