html {
	height: 100%;
	position: relative;
}

body {
	margin: 0px;
  font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

/* Beginning of navigation styling  */

.nav {
	text-align: right;
	height: 90px;
	line-height: 90px;
	background-color: #FF4136;
	font-weight: 500;
	letter-spacing: 0.1em;
	z-index: 2;
	position: relative;
}

.nav i {
    font-size: 140%;
}	
	
.menu {
	margin-right: 3%;
	background-color: #FF4136;
}

.menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	margin: 0 30px;
	line-height: 90px;
	clear: both;
}

#hamburger {
    margin-right: 7%;
	font-size: 170%;
	line-height: 90px;
	display: none;
	width: 26px;
	float: right;
	color: #FFF;
}

#toggle {
  display: none;
}

#app-name {
	font-size: 150%;
	position: absolute;
	left: 10%;
}

#app-name-toggle {
	display: none;
}


.cd-error-banner-message {
	display: none;
	background-color: lightcoral;
	color: #FFF;
	padding: 1.5%;
	text-align: center;
	width: 70%;
	margin: 1% auto;
}

.cd-error-banner-message.is-visible {
	display: block
}

.cd-success-message {
	display: none;
	background-color: #5cb85c;
	font-size: 100%;
	color: #FFF;
	padding: 1.5%;
	text-align: center;
	width: 70%;
	margin: 1% auto;
}

.cd-success-message.is-visible {
	display: block
}

@media only screen and (max-width: 1100px) {
	#hamburger {
		display: block;
		cursor: pointer;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a {
		display: block;
		border-bottom: 1px solid #EAEAEB;
		margin: 0;
	}
	.menu a:first-child {
	    border-top: 1px solid #EAEAEB;
    }

	#toggle:checked + .menu {
		display: block;
	}

	#app-name {
		display: none;
	}
	#app-name-toggle {
		display: inline-block;
		position: absolute;
		left: 5%;
		top: -20%;
		text-transform: uppercase;
		font-size: 120%;
		color: #FFF;
	}
}

/* End of navigation styling */

.footer {
  position: fixed;
  bottom: 0;
	width: 100%;
	background-color: #FF4136;
	color: #FFF;
	text-align: center;
	padding: 0.8% 0%;
	font-size: 120%;
}

#delivery-details-section {
  margin: 50px auto 100px;
  max-width: 600px;
}

.fieldset {
  width: 100%;
}

.fieldset label {
  display: block;
}

.fieldset input {
  width: 90%;
  padding: 1%;
}

#delivery-details-section .order-btn {
	border: none;
	border-radius: 20px;
	color: #FFF;
	background-color: #FF4136;
	padding: 10px 30px;
	text-decoration: none;
	cursor: pointer;
  outline: none;
  margin-top: 3%;
}

.spinner {
	position: fixed;
	left: 50%;
	top: 40%;
	background-color: #FF4136;
	z-index: 1000;
}

.hide {
	display: none;
}

.total-cart-quantity {
	border-radius: 50%;
	background-color: #FFF;
	padding: 0.5%;
	color: black;
	font-weight: 900;
}

#delivery-details-section .order-btn[disabled], #delivery-details-section .order-btn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

#cd-address-error-message, #cd-mobile-error-message {
  display: none;
	color: red;
	font-size: 80%;
}

#cd-address-error-message.is-visible, #cd-mobile-error-message.is-visible {
	display: block
}